In [1]:
import pandas as pd
import os

In [2]:
fileDir = os.path.dirname(os.path.abspath('__file__'))

In [3]:
df = pd.read_excel(os.path.join(fileDir, 'Karma points per post.xlsx'), header=None)

In [4]:
df.head()

           0         1          2   3   4   5   6
0  21.361863  8.411863  70.759437 NaN NaN NaN NaN
1  11.337069 -1.612931   2.601545 NaN NaN NaN NaN
2   8.196842 -4.753158  22.592509 NaN NaN NaN NaN
3  18.644257  5.694257  32.424562 NaN NaN NaN NaN
4   7.284348 -5.665652  32.099616 NaN NaN NaN NaN

In [5]:
df = df[df.columns[:3]]

In [6]:
df.columns =['first', 'second', 'third']

In [7]:
df.head()

       first    second      third
0  21.361863  8.411863  70.759437
1  11.337069 -1.612931   2.601545
2   8.196842 -4.753158  22.592509
3  18.644257  5.694257  32.424562
4   7.284348 -5.665652  32.099616

In [8]:
def sum(array):
    total = 0
    for number in array:
        total += number
    return total

def average(array):
    return (sum(array)) / (len(array))

def variance(array):
    squared_variance = 0
    mean = average(array)
    for number in array:
        squared_variance += (number - mean)**2
    return squared_variance

def bessels_corr(array):
    return (variance(array)) / (len(array) - 1)

def population_std(array):
    return ((variance(array)) / (len(array))) ** (1/2)
    
def sample_std(array):
    return (bessels_corr(array)) ** (1/2)

In [9]:
print(average(df['first']))

12.956615966

In [10]:
print(sum(df['first']))

2591.3231932

In [11]:
print(variance(df['first']))

4504.517007251527

In [12]:
print(population_std(df['first']))

4.745796564988604

In [13]:
print(sample_std(df['first']))

4.7577057344412665

In [14]:
print(max(df['first']))

28.5919382

In [15]:
print(min(df['first']))

-4.7326544